In [136]:
# Importing required library for data manuplulation
import pandas as pd

In [137]:
# Reading the CSV file for data pre-processing
cars_data = pd.read_csv(r"/Users/praveen/Desktop/Stats Project/cars.csv")
# Displays the basics of the dataset
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4003 entries, 0 to 4002
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   vehicle_brand    4003 non-null   object
 1   year             4003 non-null   int64
 2   engine_capacity  4003 non-null   float64
 3   miles_driven     4003 non-null   int64
 4   selling_price    4003 non-null   float64
 5   pin_code         4003 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 187.8+ KB

In [138]:
# Displays the first 5 observations of the dataset
cars_data.head()

   vehicle_brand  year  engine_capacity  miles_driven  selling_price pin_code
0  Mercedes-Benz  2016              6.3             1       222000.0    48067
1  Mercedes-Benz  2016              5.5             1       177000.0    70072
2  Mercedes-Benz  2016              5.5             1       177777.0    32793
3  Mercedes-Benz  2016              5.5             1       199999.0    22903
4  Mercedes-Benz  2016              5.5             1       199999.0    95350

In [139]:
# Removing the pin-code column to make the dataset more simple
columns_to_be_dropped = ["pin_code"]
# Drops the said column
cars_data.drop(labels=columns_to_be_dropped, axis = 1, inplace=True)

In [140]:
# Displays the no. of rows and columns of the dataset
print("Shape of the dataset: ", cars_data.shape)
# Displays the top 5 observations after dropping the said column 
cars_data.head()

Shape of the dataset:  (4003, 5)

   vehicle_brand  year  engine_capacity  miles_driven  selling_price
0  Mercedes-Benz  2016              6.3             1       222000.0
1  Mercedes-Benz  2016              5.5             1       177000.0
2  Mercedes-Benz  2016              5.5             1       177777.0
3  Mercedes-Benz  2016              5.5             1       199999.0
4  Mercedes-Benz  2016              5.5             1       199999.0

In [141]:
# Removing the dupicate observations from the dataset
print("No. of rows in the dataset before removing the duplicate observations: ", cars_data.shape[0])
cars_data.drop_duplicates(subset=None, keep='first', inplace=True)

# Displaying the number of rows/observations after removing duplicates
print("No. of rows in the dataset after removing the duplicate observations: ", cars_data.shape[0])

No. of rows in the dataset before removing the duplicate observations:  4003
No. of rows in the dataset after removing the duplicate observations:  3924

# Random Sampling from the Big dataset

In [142]:
# Random sampling: Takes the 22.97% of random samples of the entire dataset 
cars_data = cars_data.sample(frac = 0.2297)

# Number of rows and columns
print("Current shape of the dataset: ", cars_data.shape)
# Number of rows of the dataset
print("Total number of observations after pulling 22.97% of the orginal observations: " ,cars_data.shape[0])

Current shape of the dataset:  (901, 5)
Total number of observations after pulling 22.97% of the orginal observations:  901

In [143]:
cars_data.info() # We do not have any null or empty values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 1345 to 1201
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   vehicle_brand    901 non-null    object
 1   year             901 non-null    int64
 2   engine_capacity  901 non-null    float64
 3   miles_driven     901 non-null    int64
 4   selling_price    901 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 42.2+ KB

In [144]:
# Changing the position and the names of the columns of the dataset
final_cars_data = cars_data[["vehicle_brand","year","engine_capacity","miles_driven","selling_price"]]

# Saving it as a final dataset in directory
final_cars_data.to_csv(r'cars_final_data.csv', index = False)

# Temp dataframe is created for testing purpose
temp = pd.read_csv(r"cars_final_data.csv")
# Prints the success message if the file has been saved in the directory
if(not temp.empty):
    print("Succefully saved the modifed final pre-processed dataset in directory..")

Succefully saved the modifed final pre-processed dataset in directory..